.footer-container{
   background-color: #001D32;
   padding: 20px;
   color: #fff;
}

.icon-container{
    display: flex;
    justify-content: center; 
}
.icon{
    background-color: #fff;
    color: #051358;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: fit-content;
    border-radius: 25px;
    padding: 5px;
    margin: 0 10px;
}

.copy-data{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}