.banner-container{
    background-image: url("https://images.pexels.com/photos/1519088/pexels-photo-1519088.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    height: 100vh;    
}

.banner-container:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
    height: 100vh;
}

.banner-content{
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items:  center;
    width: 100%;
    font-size: 40px;
}

.rol{
    background-color: #FF0000;
    font-size: 20px;
}

.btn-container{
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
}

.btn{
    padding: 1rem 32px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 5px;
    margin: 0 5px;
    background-color: #F74D00;
}

.btn-light{
    background-color: #fff;
    color: #000;
    border: 2px solid #FF0000;
}

.btn:hover{
    background-color: transparent;
    color: #fff;
}